<p id="notice"><%= notice %></p>

<h1>Listing User interest</h1>
  
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_interests.each do |user_interest| %>
      <tr>
        <td><%= user_interest.name  %></td>
        <td><%= link_to 'Destroy', user_user_interest_path(@user,user_interest), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
<h1>Listing Interests</h1>
  <tbody>
    <% @interests.each do |interest| %>
      <tr>
        <td><%= interest.name  %></td>

        <td>
        <%= form_for [@user, UserInterest.new] do |f| %>
            <%= f.submit("agregar", class: "btn btn-default") %>
            <%= f.hidden_field(:interest_id, value: interest.id) %>
            <%= f.hidden_field(:user_id, value: @user.id) %>
        
        <% end %>
        </td>
        
        
      </tr>
    <% end %>
  </tbody>
</table>