
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Actividades Interesantes</h3>
  </div>
  <div class="panel-body">
    <div class="row">
    <% unless @interesting_user_requests.blank? or @interesting_user_requests.nil?%>
       <% @interesting_user_requests.each do |request| %>
         
           <div class="col-sm-6 col-md-4">
             <div class="thumbnail">
               <img src="..." alt="...">
               <div class="caption">
                 <h3><%= request.title %></h3>
                 <h4><%= request.description %></h4>
                 <h5><strong>Creada por:</strong> <%= image_tag(request.user.image) %><%= request.user.name %></h4>
                 <p><strong>Lugar:</strong><%= request.location %></p>
                 <p><strong>Dia y Hora:</strong><%= request.date_activity %></p>        
                 <p><%= link_to 'Detalles', requests_detail_path(request), :class=>"btn btn-primary"%>
                 </p>
               </div>
             </div>
           </div>
         
       <% end %>
    <% else %>
    <strong>
      <div class="alert alert-warning" role="alert">        
        <%= link_to 'No tienes intereses asociados, selecciona algun interes', user_user_interests_path(current_user.id) ,:class=>"alert-link"%>
      </div>
      </strong>
    <% end %>
    </div>
  </div>
  <div class="panel-footer"></div>
</div>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Otras actividades</h3>
  </div>
  <div class="panel-body">
    <div class="row">
       <% @other_requests.each do |other_request| %>
        <div class="col-sm-6 col-md-4">
          <div class="thumbnail">
            <img src="..." alt="...">
            <div class="caption">
              <h3><%= other_request.title %></h3>
              <h4><%= other_request.description %></h4>
              <h5><strong>Creada por:</strong> <%= image_tag(other_request.user.image) %><%= other_request.user.try(:name) %></h4>
              <p><strong>Lugar:</strong><%= other_request.location %></p>
              <p><strong>Dia y Hora:</strong><%= other_request.date_activity %></p>        
              <p><%= link_to 'Detalles', requests_detail_path(other_request), :class=>"btn btn-primary"%></button>
              </p>
            </div>
          </div>
        </div>
       <% end %>
     </div>
  </div>
  <div class="panel-footer"></div>

      